.chess{
	display: block;
	margin: 50px auto;
	box-shadow: 0 0 10px #B9B9B9;
	cursor: pointer;		
	/*float: left;*/
	
}

div{
	text-align: center;
}
.restart{
	padding: 10px 20px;
	background-color: aqua;
	border-radius: 5px;
	cursor: pointer;		
}

.score{
	float: left;
}

.left{
		width: 70%;
		
		height: 600px;
		
		border:1px solid #ccc;
		
		float: left;
		
		box-sizing: border-box;
	}

.score{
		width: 30%;
		
		height: 600px;
		
		border:1px solid #ccc;
		
		float: left;
		
		box-sizing: border-box;
	}



